<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  {{> head}}
</head>

<body>
  {{> nav}}

  <section class="hero is-primary">
    <div class="hero-body shader">
      <div class="container">
        <p class="title is-size-1 has-text-weight-bold mb-0">
          Art Manager - Collage - {{project.name}}
        </p>
        <p class="subtitle has-text-weight-bold pt-5">
          Helping me keep track of all the things
        </p>
      </div>
    </div>
  </section>

  <section class="section has-background-white-ter" style="padding: 1rem 1.5rem">
    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{project.name}}</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="section has-background-white">
    <div class="container">
      <h1 class="title">{{project.name}}</h1>
      <!-- Now we have a form that we give all the details in -->
      <form action="/project/{{encode project.name}}" method="POST">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Local directory</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <input class="input" type="text" name="localDirectory" value="{{project.localDirectory}}">
              </p>
            </div>
          </div>
        </div>

        <!-- if we have a github url, display it and make it a link, otherwise say no github -->
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">GitHub</label>
          </div>
          <div class="field-body">
            <p>
              {{#if project.githubUrl}}
                <a href="{{project.githubUrl}}">{{project.githubUrl}}</a>
              {{else}}
                No GitHub URL
              {{/if}}
            </p>
          </div>
        </div>

        <!-- Now we need to have a select which allows us to set which platform this project is on -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Platform</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select name="platform">
                    <option>Select platform</option>
                    <option value="fxhash 1.0" {{#ifEqual project.platform 'fxhash 1.0' }}selected{{/ifEqual}}>fxhash
                      1.0
                    </option>
                    <option value="fxhash 2.0" {{#ifEqual project.platform 'fxhash 2.0' }}selected{{/ifEqual}}>fxhash
                      2.0
                    </option>
                    <option value="Alba" {{#ifEqual project.platform 'Alba' }}selected{{/ifEqual}}>Alba</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Now we need to have a select which allows us to set which platform this project is on -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Blockchain</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select name="blockchain">
                    <option>Select blockchain</option>
                    <option value="Ethereum" {{#ifEqual project.blockchain 'Ethereum' }}selected{{/ifEqual}}>Ethereum
                    </option>
                    <option value="Tezos" {{#ifEqual project.blockchain 'Tezos' }}selected{{/ifEqual}}>Tezos</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Enter the project ID here, this is the thing that will allow us to grab data from the API-->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Project id</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <input class="input" type="text" name="projectId" value="{{project.projectId}}">
              </p>
            </div>
          </div>
        </div>

        {{#if project.url}}
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Link</label>
            </div>
            <div class="field-body">
              <div class="field">
                <a href="{{project.url}}">{{project.url}}</a>
              </div>
            </div>
          </div>
        {{/if}}

        <!--- See if we have an api entry, if so say when it was last updated, otherwise say we don't have anything -->
        {{#if canFetchApi}}
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">API</label>
            </div>
            <div class="field-body">
              <div class="field">
                {{#if project.api}}
                  ✅ Last updated: {{timeAgo project.api.lastUpdated}}
                {{else}}
                  ❌
                {{/if}}
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{#if project.api}}
                    <button class="button is-link" name="action" value="fetchAPI">Refetch API</button>
                  {{else}}
                    <button class="button is-link" name="action" value="fetchAPI">Fetch API</button>
                  {{/if}}
                </p>
              </div>
            </div>
          </div>
        {{/if}}

        {{#if platform}}
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">index.html</label>
            </div>
            <div class="field-body">
              <div class="field">
                {{#if project.indexFileExists}}
                  ✅
                {{else}}
                  ❌
                {{/if}}
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">js snippet</label>
            </div>
            <div class="field-body">
              <div class="field">
                {{#if project.indexFileHasFxhashScriptNode}}
                  ✅
                {{else}}
                  ❌
                {{/if}}
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Snippet up to date</label>
            </div>
            <div class="field-body">
              <div class="field">
                {{#if project.indexFileFxhashScriptNodeMatches}}
                  ✅
                {{else}}
                  ❌
                {{/if}}
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Has forceWidth</label>
            </div>
            <div class="field-body">
              <div class="field">
                {{#if project.hasForceWidth}}
                  ✅
                {{else}}
                  ❌
                {{/if}}
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Has forceDownload</label>
            </div>
            <div class="field-body">
              <div class="field">
                {{#if project.hasForceDownload}}
                  ✅
                {{else}}
                  ❌
                {{/if}}
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Has forceId</label>
            </div>
            <div class="field-body">
              <div class="field">
                {{#if project.hasForceId}}
                  ✅
                {{else}}
                  ❌
                {{/if}}
              </div>
            </div>
          </div>

        {{/if}}

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">revdancatt project dir</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <input class="input" type="text" name="projectDir" placeholder="00-name-of-project"
                  value="{{project.projectDir}}">
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
          </div>
          <div class="field-body">
            <div class="field is-grouped">
              <p class="control">
                <button class="button is-primary" name="action" value="update">Update</button>
              </p>
              <p class="control">
                <button class="button is-link" name="action" value="collage">Collage</button>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>


  <hr />
  <section class="section has-background-white">
    <div class="container">
      <h1 class="title">Revdancatt info</h1>
      <div class="columns">
        <div class="column is-half">
          <form action="/project/{{encode project.name}}" method="POST">

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Title</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.title}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Prefix</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <input class="input" type="text" name="prefix" value="{{newRevdancattProjectJSON.prefix}}">
                    <small>The image prefix, i.e. <code>prefix_0001_hash.jpg</code> </small>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Directory</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.directory}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Show Github</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input type="checkbox" name="showGitHub" {{#if newRevdancattProjectJSON.showGitHub}}checked{{/if}}>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Show RCS</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input type="checkbox" name="showRCS" {{#if newRevdancattProjectJSON.showRCS}}checked{{/if}}>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Source</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.projectSource}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Url</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.platformUrl}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Name</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.platformName}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Type</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.projectType}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Id</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.projectId}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Blockchain</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.blockchain}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Currency</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.currency}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Symbol</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.currencySymbol}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Mod</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.currencyMod}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Size</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.size}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Jump Size</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.jumpSize}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Gen type</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.type}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Release</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    {{newRevdancattProjectJSON.releaseDate}}
                  </p>
                </div>
              </div>
            </div>


            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Ratio</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <input class="input" type="text" name="ratio" value="{{newRevdancattProjectJSON.ratio}}">
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Description</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <textarea class="textarea" name="description" placeholder="Description goes here"
                      rows="10">{{newRevdancattProjectJSON.description}}</textarea>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control">
                    <button class="button is-primary" name="action" value="updateRevdancatt">Update</button>
                  </p>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="column is-half">
          <form action="/project/{{encode project.name}}" method="POST">

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Highres</label>
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control">
                    {{#if hasImagesInDownloadsFolder}}
                      {{#if hasHighres}}
                        ✅ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                          value="updateHighres">Update</button>

                      {{else}}
                        ❌ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                          value="updateHighres">Create</button>
                      {{/if}}
                    {{else}}
                      {{#if hasHighres}}
                        ✅ &nbsp;
                      {{else}}
                        ❌ &nbsp;
                      {{/if}}
                      <small>(No images in downloads folder)</small>
                      <!--
                      <button class="button is-small is-warning" name="JSONandImageActions" value="updateHighres">Create
                        anyway</button>
                        -->
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Thumbnails</label>
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control">
                    {{#if hasImagesInDownloadsFolder}}
                      {{#if hasThumbnails}}
                        ✅ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                          value="updateThumbnails">Update</button>

                      {{else}}
                        ❌ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                          value="updateThumbnails">Create</button>
                      {{/if}}
                    {{else}}
                      {{#if hasHighres}}
                        ✅ &nbsp;
                      {{else}}
                        ❌ &nbsp;
                      {{/if}}
                      <small>(No images in downloads folder)</small>
                      <!--
                      <button class="button is-small is-warning" name="JSONandImageActions"
                        value="updateThumbnails">Create anyway</button>
                        -->
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Slides</label>
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control">
                    {{#if hasHighres}}
                      {{#if hasSlides}}
                        ✅ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                          value="updateSlides">Update</button>

                      {{else}}
                        ❌ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                          value="updateSlides">Create</button>
                      {{/if}}
                    {{else}}
                      {{#if hasHighres}}
                        ✅ &nbsp;
                      {{else}}
                        ❌ &nbsp;
                      {{/if}}
                      <small>(No images in Highres folder)</small>
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Mints JSON</label>
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control">
                    {{#if hasMintsData}}
                      ✅ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                        value="updateMintJSON">Update</button>

                    {{else}}
                      ❌ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                        value="updateMintJSON">Create</button>
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">RCS</label>
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control">
                    {{#if hasRCS}}
                      ✅
                    {{else}}
                      ❌
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Downloads clear</label>
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control">
                    {{#if hasImagesInDownloadsFolder}}
                      ❌ &nbsp; <button class="button is-small is-primary" name="JSONandImageActions"
                        value="cleanDownloads">Cleanup</button>
                    {{else}}
                      ✅
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>


            <hr />
            <div class="container mb-5">
              <h1 class="title is-4">Slides</h1>
              <p>
                {{#if hasSlides}}
                  This is a preview of the slides generated and placed in the <code>/slides</code> folder over on
                  revdancatt.com
                {{else}}
                  No slides have been generated yet, create all the images using the Image Generator below.
                {{/if}}
              </p>
            </div>
            {{#if hasSlides}}
              <div class="columns">
                <div class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image block checkerboard">
                        <a href="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[0]}}" target="_blank">
                          <img class="is-fullwidth" src="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[0]}}">
                        </a>
                      </figure>
                    </div>
                  </div>
                  <br />
                  <div class="card">
                    <div class="card-image">
                      <figure class="image block checkerboard">
                        <a href="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[3]}}" target="_blank">
                          <img class="is-fullwidth" src="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[3]}}">
                        </a>
                      </figure>
                    </div>
                  </div>
                </div>

                <div class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image block checkerboard">
                        <a href="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[1]}}" target="_blank">
                          <img class="is-fullwidth" src="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[1]}}">
                        </a>
                      </figure>
                    </div>
                  </div>
                  <br />
                  <div class="card">
                    <div class="card-image">
                      <figure class="image block checkerboard">
                        <a href="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[4]}}" target="_blank">
                          <img class="is-fullwidth" src="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[4]}}">
                        </a>
                      </figure>
                    </div>
                  </div>
                </div>

                <div class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image block checkerboard">
                        <a href="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[2]}}" target="_blank">
                          <img class="is-fullwidth" src="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[2]}}">
                        </a>
                      </figure>
                    </div>
                  </div>
                  <br />
                  <div class="card">
                    <div class="card-image">
                      <figure class="image block checkerboard">
                        <a href="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[5]}}" target="_blank">
                          <img class="is-fullwidth" src="/slides/{{newRevdancattProjectJSON.prefix}}/{{slides.[5]}}">
                        </a>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}

          </form>
        </div>
      </div>
    </div>
  </section>

  {{#if project.mints.length}}
    <hr />
    <section class="section has-background-white">
      <div class="container">
        <h1 class="title">Image generator</h1>
        <div class="columns">
          <div class="column">
            <p class="mb-5">
              Make sure the correct project is running on <a href="http://localhost:8888/"
                target="_blank">localhost:8888</a>
            </p>
            <!-- Add a button that starts the startMinting function -->
            <button id="startMintingButton" class="button is-primary" onclick="startMinting()">Start minting</button>
            <div id="mintProgress"></div>
          </div>
          <div class="column">
            <iframe id="targetFrame" src="http://localhost:8888/" style="width: 100%; aspect-ratio: 1 / 1"></iframe>
          </div>
        </div>
      </div>
    </section>
  {{/if}}

  {{#if canFetchApi}}
    <hr />
    <section class="section has-background-white">
      <div class="container">
        <h1 class="title">API output</h1>
        {{{dumpJSON project.api.data}}}
      </div>
    </section>
  {{/if}}
  {{> footer}}

  {{#if project.mints.length}}
    <script>
      const mints = JSON.parse('{{{project.mintsJSON}}}')
      let mintIndex = 0
      const platform = '{{project.platform}}'
      const startMinting = () => {
        // Remove the start minting button
        if (document.getElementById('startMintingButton')) document.getElementById('startMintingButton').remove()
        // Build up the id we need to load
        let url = null
        if (platform === 'fxhash 1.0' || platform === 'fxhash 2.0') {
          url = `http://localhost:8888/?fxhash=${mints[mintIndex].hash}&forceId=${mints[mintIndex].id}&forceWidth=8192&fxiteration=${mints[mintIndex].id}&forceDownload=true#0x${mints[mintIndex].inputBytes}`
          console.log(url)
        }
        if (url) {
          // Update the mintProgress text
          document.getElementById('mintProgress').innerText = `Minting ${mintIndex + 1} of ${mints.length}`
          // Set the iframe to load the url
          document.getElementById('targetFrame').src = url
        }
      }
      // This function gets called by the iframe when it's finished
      const forceDownloaded = () => {
        mintIndex++
        // If we have more mints to do, do them
        if (mintIndex < mints.length) {
          startMinting()
        } else {
          document.getElementById('mintProgress').innerText = 'All done!'
          // Reload the page in three seconds
          setTimeout(() => {
            window.location.reload()
          }, 3000)
        }
      }

      window.addEventListener("message", (event) => {
        if (event.origin !== "http://localhost:8888")
          return
        if (event.data === 'forceDownloaded') {
          forceDownloaded()
        }
      }, false)
    </script>
  {{/if}}
</body>

</html>