<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  {{> head}}
</head>

<body>
  {{> nav}}

  <section class="hero is-primary">
    <div class="hero-body shader">
      <div class="container">
        <p class="title is-size-1 has-text-weight-bold mb-0">
          Art Manager - {{project.name}}
        </p>
        <p class="subtitle has-text-weight-bold pt-5">
          Helping me keep track of all the things
        </p>
      </div>
    </div>
  </section>

  <section class="section has-background-white-ter" style="padding: 1rem 1.5rem">
    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{project.name}}</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="section has-background-white">
    <div class="container">
      <h1 class="title">{{project.name}}</h1>
      <!-- Now we have a form that we give all the details in -->
      <form action="/project/{{project.name}}" method="POST">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Local directory</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <input class="input" type="text" name="localDirectory" value="{{project.localDirectory}}">
              </p>
            </div>
          </div>
        </div>

        <!-- if we have a github url, display it and make it a link, otherwise say no github -->
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">GitHub</label>
          </div>
          <div class="field-body">
            <p>
              {{#if project.githubUrl}}
                <a href="{{project.githubUrl}}">{{project.githubUrl}}</a>
              {{else}}
                No GitHub URL
              {{/if}}
            </p>
          </div>
        </div>

        <!-- Now we need to have a select which allows us to set which platform this project is on -->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Platform</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select">
                  <select name="platform">
                    <option>Select platform</option>
                    <option value="fxhash 1.0" {{#ifEqual project.platform 'fxhash 1.0' }}selected{{/ifEqual}}>fxhash
                      1.0
                    </option>
                    <option value="fxhash 2.0" {{#ifEqual project.platform 'fxhash 2.0' }}selected{{/ifEqual}}>fxhash
                      2.0
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Enter the project ID here, this is the thing that will allow us to grab data from the API-->
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Project id</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <input class="input" type="text" name="projectId" value="{{project.projectId}}">
              </p>
            </div>
          </div>
        </div>

        {{#if project.url}}
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Link</label>
            </div>
            <div class="field-body">
              <div class="field">
                <a href="{{project.url}}">{{project.url}}</a>
              </div>
            </div>
          </div>
        {{/if}}

        <!--- See if we have an api entry, if so say when it was last updated, otherwise say we don't have anything -->
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">API</label>
          </div>
          <div class="field-body">
            <div class="field">
              {{#if project.api}}
                Last updated: {{timeAgo project.api.lastUpdated}}
                {{{dumpJSON project.api.data}}}
              {{else}}
                No api fetched yet
              {{/if}}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                {{#if project.api}}
                  <button class="button is-link" name="action" value="fetchAPI">Refetch API</button>
                {{else}}
                  <button class="button is-link" name="action" value="fetchAPI">Fetch API</button>
                {{/if}}
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">index.html</label>
          </div>
          <div class="field-body">
            <div class="field">
              {{#if project.indexFileExists}}
                ✅
              {{else}}
                ❌
              {{/if}}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">index.html js snippet</label>
          </div>
          <div class="field-body">
            <div class="field">
              {{#if project.indexFileHasFxhashScriptNode}}
                ✅
              {{else}}
                ❌
              {{/if}}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Snippet up to date</label>
          </div>
          <div class="field-body">
            <div class="field">
              {{#if project.indexFileFxhashScriptNodeMatches}}
                ✅
              {{else}}
                ❌
              {{/if}}
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">revdancatt project dir</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded">
                <input class="input" type="text" name="projectDir" placeholder="00-name-of-project"
                  value="{{project.projectDir}}">
              </p>
            </div>
          </div>
        </div>


        <div class="field is-horizontal">
          <div class="field-label is-normal">
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <button class="button is-primary" name="action" value="update">Update</button>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  {{> footer}}
</body>

</html>