<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  {{> head}}
</head>

<body>
  {{> nav}}

  <section class="hero is-primary">
    <div class="hero-body shader">
      <div class="container">
        <p class="title is-size-1 has-text-weight-bold mb-0">
          Art Manager
        </p>
        <p class="subtitle has-text-weight-bold pt-5">
          Helping me keep track of all the things
        </p>
      </div>
    </div>
  </section>

  <section class="section has-background-white-ter" style="padding: 1rem 1.5rem">
    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="section has-background-white">
    <div class="container">
      <ul>
        {{#each projectNames}}
          <li><a href="/project/{{encode @this}}">{{@this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </section>

  <hr>

  <section class="section has-background-white">
    <div class="container">
      <!-- We are going to add a form that allows us to add a new project -->
      <form action="/" method="POST">
        <div class="field">
          <label class="label">Project Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Project Name" name="projectName">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" name="action" value="createProject">Create Project</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section has-background-white">
    <div class="container">
      <!-- We are going to add a form that allows us to add a new project -->
      <form action="/" method="POST">
        <div class="field">
          <label class="label">revdancatt.com root dir</label>
          <div class="control">
            <input class="input" type="text" placeholder="Root location of revdancatt.com" name="revdancattdotcom"
              value="{{appData.revdancattRootDir}}">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" name="action" value="updateRevdancatt">Update</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section has-background-white">
    <div class="container">
      <!-- We are going to add a form that allows us to add a new project -->
      <form action="/" method="POST">
        <div class="field">
          <label class="label">Downloads root dir</label>
          <div class="control">
            <input class="input" type="text" placeholder="Root location of the downloads folder" name="downloadsFolder"
              value="{{appData.downloadsRootDir}}">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" name="action" value="updateDownloadsFolder">Update</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  {{> footer}}
</body>

</html>